/* Main styles */

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url('../images/background.jpg');
    background-size: cover;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: scroll;
}

.container {
    width: 70%;
    min-height: calc(100% - 41px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    margin-top: 25px;
    text-align: center;
}

.pokeball-loader {
    width: 52px;
    display: block;
    margin: 0 auto;
    animation: flash 1000ms infinite;
}

#main-content {
    color: #ffffff;
    width: 100%;
}

#main-content .pikachu {
    display: block;
    margin: 0 auto;
}

#pokemons-table {
    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid #ffffff;
    padding: 20px 0px;
    width: 100%;
}

#pokemons-table .pokemon-info {
    display: flex;
    align-items: center;
}

.footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .author {
    color: #ffffff;
}

.footer .author a {
    color: #ffffff;
    text-decoration: none;
}

/* Type badge colors */

.badge-grass {
    background-color: #78C850; /* Grass Green */
}

.badge-poison {
    background-color: #A040A0; /* Poison Purple */
}

.badge-fire {
    background-color: #F08030; /* Fire Orange */
}

.badge-flying {
    background-color: #A890F0; /* Flying Light Purple */
}

.badge-water {
    background-color: #6890F0; /* Water Blue */
}

.badge-bug {
    background-color: #A8B820; /* Bug Greenish Yellow */
}

.badge-normal {
    background-color: #A8A878; /* Normal Grayish Beige */
}

.badge-electric {
    background-color: #F8D030; /* Electric Yellow */
}

.badge-ground {
    background-color: #E0C068; /* Ground Brownish Yellow */
}

.badge-fairy {
    background-color: #EE99AC; /* Fairy Pink */
}

.badge-fighting {
    background-color: #C03028; /* Fighting Red */
}

.badge-psychic {
    background-color: #F85888; /* Psychic Pinkish Red */
}

.badge-rock {
    background-color: #B8A038; /* Rock Brownish Yellow */
}

.badge-steel {
    background-color: #B8B8D0; /* Steel Light Grayish Blue */
}

.badge-ice {
    background-color: #98D8D8; /* Ice Light Blue */
}

.badge-ghost {
    background-color: #705898; /* Ghost Purple */
}

.badge-dragon {
    background-color: #7038F8; /* Dragon Purple */
}

/* Other styles */

.btn {
    padding: 8px;
    border: 0;
    border-radius: .2em;
    cursor: pointer;
}

.btn-primary {
    background-color: #fcc410;
}

.btn-secondary {
    color: #ffffff;
    background-color: #cb3a14;
}

.btn-secondary:hover {
    background-color: #cb2e08;
}

.btn-danger {
    color: #ffffff;
    background-color: #f0896f;
}

.badge {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

/* Animations */

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

/* Responsive */

@media (max-width: 768px) {
    .container {
        width: 98%;
    }

    .author {
        position: static;
        text-align: center;
    }
}